
html {
  margin: 0;
  padding: 0;   
}


.contact p:first-child {
  text-align: center; 
  font-weight: bold; 
  font-family: "Helvetica Neue", sans-serif; 
}

.contacttools {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 199, 227);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
}

.contact-container {
    background-color: #aa8eb5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(170, 142, 176);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.contact-details {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.contact-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}



.navbar {
    background-color: #aa8eb5;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 20px;
}

.navbar-logo {
    color: #e4dcdc;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
}


.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}



.header {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-msg {
  
  align-items: center;
  margin-top: 80px;
}

